/bin/
/build/
/gradle/
/run/
/build.gradle
/CREDITS-fml.txt
/forge-1.10.2-12.18.0.2008-changelog.txt
/Glorious 1.10.2_Client.launch
/Glorious 1.10.2_Server.launch
/gradlew
/gradlew.bat
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/README.txt
/Setup Workspace.bat
/eclipse/
/.gradle/
/.classpath
/.settings/
/.metadata/
/config/
/crash-reports/
/logs/
/saves/
forge-1.9.4-12.17.0.1976-changelog.txt
Glorious-Mod_Client.launch
Glorious-Mod_Server.launch
LICENSE-fml.txt
MinecraftForge-License.txt
MinecraftModding_Client.launch
MinecraftModding_Server.launch
options.txt
Setupworkspace.bat
usercache.json
usernamecache.json